<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">daily<span>dates</span></a>
      <div class="container nav-collapse">
        <ul class="nav">
          <li><%= link_to "Find a Date", events_path %></li>
          <li><%= link_to "Post a Date", new_event_path %></li>
          <li><%= link_to "Messages (#{current_user.unread_messages_count})", messages_path %></li>
          <% if current_user %>
            <li class="dropdown"><%= render "layouts/nav_login" %></li>
          <% else %>
            <li><%= link_to "Log in", new_user_session_path %></li>
          <% end %>
          <li class="dropdown" id="menu1">
        </ul>
      </div><!--/.nav-collapse -->
      <% if current_user %>
        <%= content_tag "div", class: "user_meta", data: { id: current_user.id, token: current_user.authentication_token, location: @location } do %><% end %>
      <% end %>
    </div>
  </div>
</div>