<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Feynman" %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="https://use.typekit.com/txe0iyw.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if location == "splash" %>
    <% else %>
      <%= render "layouts/header" %>
    <% end %>
    <div class="container-fluid">
      <div id="app" class="content">
        <div id="flash"></div>
        <%= yield %>
      </div><!--/content-->
      <!--<%= render "layouts/footer" %>-->
    </div> <!-- /container -->
  </body>
</html>
