      <h2>About Me</h2>
      <div class="enable_edit"><p class="profile_about_me_label">Career</p>
        <span id="employment"><%= user.employment %></span>
        <img src="/assets/icons/icon_add.png" class="icon"></img>
      </div>
      <div class="enable_edit"><p class="profile_about_me_label">Education</p>
        <span id="education"> <%= get_educations[user.education] %></span>
        <img src="/assets/icons/icon_add.png" class="icon">
      </div>          
      <div class="enable_edit"><p class="profile_about_me_label">Faith</p>
        <span id="faith"><%= get_faiths[user.faith] %></span>
        <img src="/assets/icons/icon_add.png" class="icon">
      </div>
      <div class="enable_edit"><p class="profile_about_me_label">Politics</p>
        <span id="political_affiliation"><%= get_political_affiliations[user.political_affiliation] %></span>
        <img src="/assets/icons/icon_add.png" class="icon">
      </div>
      <div class="enable_edit"><p class="profile_about_me_label">Race/Ethnicity</p>
        <span id="race"><%= get_races[user.race] %></span>
        <img src="/assets/icons/icon_add.png" class="icon">
      </div>
      <div class="enable_edit"><p class="profile_about_me_label">Children</p>
        <span id="children_preference"><%= get_children_preferences[user.children_preference] %></span>
        <img src="/assets/icons/icon_add.png" class="icon">
      </div>
      <div class="enable_edit"><p class="profile_about_me_label">Height</p>
        <span id="height"><%= user.height %></span>
        <img src="/assets/icons/icon_add.png" class="icon">
      </div>
