<div class="well profile_container">
  <div class="row-fluid">
    <%= render "profile_header", user: @user %>
    <%= render "profile_actions", { user: @user, is_owner: @is_owner} %>
  </div>

  <div class="row-fluid" id="profile_bottom">
    <div class="span4" id="profile_about_me_container">
      <h2>About Me</h2>
      <div class="enable_edit"><p class="profile_about_me_label">Career</p>
        <span id="employment"><%= @user.employment %></span>
        <img src="/assets/icons/icon_add.png" class="icon"></img>
      </div>
      <div class="enable_edit"><p class="profile_about_me_label">Education</p>
        <span id="education"> <%= get_educations[@user.education] %></span>
        <img src="/assets/icons/icon_add.png" class="icon">
      </div>          
      <div class="enable_edit"><p class="profile_about_me_label">Faith</p>
        <span id="faith"><%= get_faiths[@user.faith] %></span>
        <img src="/assets/icons/icon_add.png" class="icon">
      </div>
      <div class="enable_edit"><p class="profile_about_me_label">Politics</p>
        <span id="political_affiliation"><%= get_political_affiliations[@user.political_affiliation] %></span>
        <img src="/assets/icons/icon_add.png" class="icon">
      </div>
      <div class="enable_edit"><p class="profile_about_me_label">Race/Ethnicity</p>
        <span id="race"><%= get_races[@user.race] %></span>
        <img src="/assets/icons/icon_add.png" class="icon">
      </div>
      <div class="enable_edit"><p class="profile_about_me_label">Children</p>
        <span id="children_preference"><%= get_children_preferences[@user.children_preference] %></span>
        <img src="/assets/icons/icon_add.png" class="icon">
      </div>
      <div class="enable_edit"><p class="profile_about_me_label">Height</p>
        <span id="height"><%= @user.height %></span>
        <img src="/assets/icons/icon_add.png" class="icon">
      </div>
    </div>

    <div class="span8">
      <h2>My Dates</h2>
      <div id="events"></div>
    </div>
  </div>
</div>


<div class="modal hide" id="message_modal">
</div>

<script type="text/javascript">
  new App.Events()
  new App.MessagesNew({ el: "#app"})

  $(document).ready(function() {
    $('#employment').editable('<%= "#{api_v1_user_details_url(current_user.authentication_token)}" %>', {
      indicator: 'Saving...',
      tooltip: 'Click to edit',
      placeholder: '',
    });

    $('#education').editable('<%= "#{api_v1_user_details_url(current_user.authentication_token)}" %>', {
      data: '<%= raw "#{get_educations.to_json}" %>',
      callback: function(value, settings) {
        $(this).html(jQuery.parseJSON(settings.data)[value]);
      },
      type: 'select',
      submit: "OK",
      placeholder: '',
    });

    $('#faith').editable('<%= "#{api_v1_user_details_url(current_user.authentication_token)}" %>', {
      data: '<%= raw "#{get_faiths.to_json}" %>',
      callback: function(value, settings) {
        $(this).html(jQuery.parseJSON(settings.data)[value]);
      },
      type: 'select',
      submit: "OK",
      placeholder: '',
    });

    $('#political_affiliation').editable('<%= "#{api_v1_user_details_url(current_user.authentication_token)}" %>', {
      data: '<%= raw "#{get_political_affiliations.to_json}" %>',
      callback: function(value, settings) {
        $(this).html(jQuery.parseJSON(settings.data)[value]);
      },
      type: 'select',
      submit: "OK",
      placeholder: '',
    });

    $('#race').editable('<%= "#{api_v1_user_details_url(current_user.authentication_token)}" %>', {
      data: '<%= raw "#{get_races.to_json}" %>',
      callback: function(value, settings) {
        $(this).html(jQuery.parseJSON(settings.data)[value]);
      },
      type: 'select',
      submit: "OK",
      placeholder: '',
    });

    $('#children_preference').editable('<%= "#{api_v1_user_details_url(current_user.authentication_token)}" %>', {
      data: '<%= raw "#{get_children_preferences.to_json}" %>',
      type: 'select',
      callback: function(value, settings) {
        $(this).html(jQuery.parseJSON(settings.data)[value]);
      },
      submit: "OK",
      placeholder: '',
    });

    $('#height').editable('<%= "#{api_v1_user_details_url(current_user.authentication_token)}" %>', {
      indicator: 'Saving...',
      tooltip: '',
      placeholder: '',
    });

    $('.enable_edit').click(function() {
      $(this).children()[1].click();
      console.log($(this).children()[0]);
    });
  });
</script>

<style>
  .profile_container {
    margin-top:15px;
    background: #EEE;
  }

  p.profile_display_name {
    color: #E86D45;
    font-size: 2.5em;
    font-weight: bold;
    padding: 15px 0px;
  }

  p.profile_user_details {
    font-size: 1.5em;
    padding-bottom:5px;
  }

  a.profile_action {
    width: 150px;
    font-size: 1.25em;
  }

  .profile_action_container {
    text-align:right;
  }

  .edit {
    height:30px;
    width:50px;
  }

  .placeholder {
    color: #AAA;
  }

  form {
    display: inline !important;
  }

  select {
    display: inline;
    width: auto;
    font-size: 1em;
    height: 1.25em;
  }

  #profile_bottom {
    padding-top:30px;
  }

  .profile_about_me_label {
    color: #AAA;
    font-size: 0.8em;
  }

  .enable_edit {
    position: relative;
  }

  .icon {
    width:10px;
    position:absolute;
    right: 15px;
    top: 15px;
  }
</style>