<h1>Profile</h1>
<div class="row-fluid">
  <div class="span4">
    <div class="profile_img">
      <img class="profile_img" src=<%= "#{@user.image}" %>></img>
    </div>
  </div>
  <div class="span8">
    <%= content_tag "div", class: "user_meta", data: {id: @user.id} do %>
      <h1 class="edit" id="display_name"><%= "#{@user.display_name}" %></h1>
      <h3><%= "#{@user.age}, #{@user.gender}, #{@user.orientation}" %></h3>
      <h3><%= "#{@user.location}" %></h3>
    <% end %>
  </div>
</div>
<br />

<div class="row-fluid">
  <h1>My Dates</h1>
  <div id="events"></div>
</div>

<br />
<div class="row-fluid">
  <%= form_for @event, :html => {:class => "well form-horizontal"} do |f| %>
    <%= fields_for :deal do |d| %>  
      <div class="control-group">
        <%= d.label "Link to deal", nil, :class => "control-label" %>
        <div class="controls">
          <%= d.text_field :url %><br />
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :description_short, "Let's go...", {:class => "control-label"} %>
      <div class="controls">
        <%= f.text_field :description_short %><br />
      </div>
    </div>

    <%= f.submit 'Post Date', :class => 'btn btn-primary' %>
  <% end %>
</div>

<script type="text/javascript">
  new App.Events()

  $(document).ready(function() {
     $('.edit').editable('<%= "#{api_v1_user_details_url(current_user.authentication_token)}" %>');
  });
</script>