<div class="well profile_container">
  <div class="row-fluid">
    <%= render "profile_header", user: @user %>
    <%= render "profile_actions", { user: @user, is_owner: @is_owner} %>
  </div>

  <div class="row-fluid" id="profile_bottom">
    <div class="span4" id="profile_about_me_container">
      <% if @is_owner %>
        <%= render "profile_about_me_editable", { user: @user } %>
      <% else %>
        <%= render "profile_about_me", { user: @user } %>
      <% end %>
    </div>

    <div class="span8">
      <h2>My Dates</h2>
      <div id="events" class="profile_events row-fluid"></div>
      <h2>My Photos</h2>
      <div id="images"></div>
    </div>
  </div>
</div>

<div class="modal hide" id="message_modal">
</div>
<div class="modal hide" id="image_preview_modal">
</div>

<script type="text/javascript">
  new App.Events()
  new App.MessagesNew({ el: "#app" })
  new App.ImagesNew({ el: "#app" })
  new App.ImagesIndex()

  <% if @is_owner %>
    <%= render 'profile_about_me_js' %>
  <% end %>
</script>

<style>
  #image_preview_modal {
    width: 450px;
    padding: 0px;
  }

  .modal-body {
    margin-left: 10px;
    padding: 0px;
  }

  .carousel {
    margin: 10px 0px;
  }

  .profile_container {
    margin-top:15px;
    background: #EEE;
  }

  p.profile_display_name {
    color: #E86D45;
    font-size: 2.5em;
    font-weight: bold;
    padding: 15px 0px;
  }

  p.profile_user_details {
    font-size: 1.5em;
    padding-bottom:5px;
  }

  a.profile_action {
    width: 150px;
    font-size: 1.25em;
  }

  .profile_action_container {
    text-align:right;
  }

  .edit {
    height:30px;
    width:50px;
  }

  .placeholder {
    color: #AAA;
  }

  form {
    display: inline !important;
  }

  select {
    display: inline;
    width: auto;
    font-size: 1em;
    height: 1.25em;
  }

  #profile_bottom {
    padding-top:30px;
  }

  .profile_about_me_label {
    color: #AAA;
    font-size: 0.8em;
  }

  .enable_edit {
    position: relative;
  }

  .icon {
    width:10px;
    position:absolute;
    right: 15px;
    top: 15px;
  }

  .profile_events {
    margin-bottom:20px;
  }
</style>