<div class="modal" id="sign_up">
  <%= form_for @user_detail, :url => "/signups", :method => "post", :html => {:class => "form-horizontal"} do |u| %>
    <%= render "shared/form_errors", :object => @user_detail %>
    <%= render "#{@user_detail.current_step}_step", :u => u %>
    <%= u.submit "Back", { :name => "back_button", :class => "btn btn-primary btn-large" } unless @user_detail.first_step? %>
    <%= u.submit "Continue", { :class => "btn btn-primary btn-large" } %>
  <% end %>
</div>

<script>
  $('#sign_up').modal({
    keyboard: false
  })
</script>