<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://www.highcharts.com/js/highcharts.js" type="text/javascript"></script>
<script src='http://cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.0.beta.6.js' type='text/javascript'></script>

<div class='span8' style='margin-right: 20px'>
  <h2 id='header'></h2>
  <hr />
  <div id='container'></div>
</div>

<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Purchases</li>
      <li class="active"><a href="#" id='chart_voh' class='charts-link' data-f="velocity_by_hour">Fastest Growing Deals</a></li>

      <li class="nav-header">Revenue</li>
      <li><a href='#' id='chart_districts' class='charts-link' data-f="top_districts">Top Districts</a></li>

      <li class='nav-header'>Projection</li>
      <li><a href='#' id='projection_link' data-f="projected_revenue" class='charts-link'>Revenue</a></li>
      <li><a href='#' id='deal_probability_link' data-f="deal_probability" class='charts-link'>Deal Probability</a></li>
    </ul>
  </div>
</div>

<!-- Templates -->

<%= render 'charts/velocity' %>
<%= render 'charts/districts' %>
<%= render 'charts/revenue' %>
<%= render 'charts/revenue_table' %>
<%= render 'charts/probability' %>
<%= render 'charts/probability_search' %>